* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
form {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(0,0,0,.1);
  width: 120px;
}
input {
  width: 100%;
}
form div input {
  -webkit-appearance: slider-vertical;
}
form div {
  display: flex;
  flex-grow: 1;
}
form button {
  margin-top: 5px;
}